<header class="Header">
  <div class="Container Container--full Container--pad">
    <nav class="Nav">
      <a href="<%= config.url %>/" class="Nav-branding"><img src="/img/logo.svg" alt="SAYSM"/></a>
      <ul class="Nav-items">
        <li class="Nav-item"><a href="<%= config.url %>/" class="Nav-link">Work</a></li>
        <li class="Nav-item"><a href="<%= config.url %>/blog" class="Nav-link">Blog</a></li>
        <li class="Nav-item"><a href="<%= config.url %>/about" class="Nav-link">About</a></li>
        <li class="Nav-item"><a href="<%= config.url %>/contact" class="Nav-link">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>

<!-- page.title -->
